:root {
    --color1: #DB0038;
    --color2: #F7C200;
    --color3: #519dd9;
    --color4: #53BAC1;
    --color5: #EDEDED;

}

body {
    margin: 0;
    padding: 0;
    text-align: left;
}

.main-container {
    /* border: 2px solid rgb(124, 117, 131); */
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    /* text-align: center; */

    /* To push footer at the bottom */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 2rem auto auto 1rem;
    padding: 1rem;
    /* text-align: center; */

    /* border: 1px solid red;  */
}

label,
input {
    margin: 0 auto;
    max-width: 500px;
    border-radius: 11px;
}

label {
    font-size: 1.2rem;
}

input {
    /* border: 1px solid red;  */
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

.inp {

    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    /* text-align: left; */
    /* border: 1px solid var(--color1); */
}

#btn-check {
    display: block;
    /* text-align: left; */
    margin: 2rem;

    padding: 0.8rem;
    width: 100px;
    cursor: pointer;
    /* margin: 2rem 2rem 2rem 2rem; */
    /* margin-bottom: 2re; */
    border-radius: 11px;
    /* border: 1px solid var(--color1); */
}

textarea {
    margin: 2rem auto;
    width: 90%;
    max-height: 10rem;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    /* border: 2px solid firebrick; */
}

/*footer styles */

footer {
    /* border: 2px solid firebrick; */
    /* margin-top: 5rem; */
    /* display: block; */
}

.two-columns {
    text-align: center;
    margin-top: 3rem;
    /* padding: 0.5rem; */
    /* border: 1px solid green;  */
}

.two-columns>p {
    margin: 1.5rem;
}

.two-columns>p>a>img {
    /* border: 2px solid red;  */
    width: 35px;
    height: 35px;
    margin: 0.4rem;
}